@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: yellow;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: whitesmoke;
    width: 400px;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
}

.row {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}

.row input {
    height: 50px;
    width: 50px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    background: rgb(245, 221, 7);
    border-radius: 10px;
    border: none;
    color: black;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(231, 247, 7);
}